[submodule "Radiometer-RF-Board"]
	path = Radiometer-RF-Board
	url = git@github.com:M2I-CySat/Radiometer-RF-Board.git
[submodule "Radiometer-Antenna"]
	path = Radiometer-Antenna
	url = git@github.com:M2I-CySat/Radiometer-Antenna.git
[submodule "SDR-Carrier-Board"]
	path = SDR-Carrier-Board
	url = git@github.com/M2I-CySat/SDR-Carrier-Board